*.iml
*.log
*.stackdump
*.swp
*~
.agignore
.DS_Store
.idea
.idea/workspace.xml
.lvimrc
.vscode
/benchpress-build/
/build/
/node_modules/
/scripts/bower/bower-*
/tmp/
nlp_compromise.js.tmproj
nlp_compromise.xcodeproj
bower_components/
coverage
gen_docs.disable
libpeerconnection.log
npm-debug.log
performance/temp*.html
regression/temp*.html
test.disable
