node_modules/
.pnpm-store/
coverage/
.DS_Store
.env
.nyc_output/
.vscode
.clinic
coverage.lcov
scripts/bench/results.jsonl
codecov.yml
plugins/phrases/data/
learn/giga/result/
.scratch.js
.eslintrc
.npmignore
.gitignore
LICENSE
package-lock.json
yarn.lock
bun.lock
bun.lockb
rollup.config.js
