.vscode/
node_modules/
coverage/
scripts/bower/bower-*
bower_components/
tmp/
viz/
builds/
legal/
src/tries/_packed
.DS_Store
.jshintrc
.env
.nyc_output/

*.iml
*.log
*.stackdump
*.swp
*~
compromise.js.tmproj
compromise.xcodeproj
npm-debug.log
StandAloneTester.html
app.js
buildAndCopy.bat