html {
	overflow: hidden;
	height: 100%;
}
body {
	overflow: auto;
	display:flex;
	justify-content: center;
	align-items: center;
	color:grey;
	width:100%;
	height:100%;
	margin:0px;
}
#container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
	min-height:10rem;
}
#input{
	width:42rem;
	height:4rem;
	padding-left:0.5rem;
	font-size:3rem;
	border:none;
	border-bottom:2px solid #A6B3BB;
	color:#44677D;
	font-family: "Avenir Next" !important;
}
#result{
	font-size:4rem;
	color:#87cefa;
	min-height:11rem;
	font-family: "Avenir Next" !important;
}
